* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes fade-in {
  0% {
    transform: scale(.7,.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
 
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-element {

}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #333333;    
  background-color: rgba(255, 255, 255, 0.7);
  min-width:280px;       
  width: auto !important; 
  width:280px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4, h5, h6 {
  font-family: ;
  color: black;
  
}

h2{
  font-size: 50px;
  margin-bottom: 50px;
}

.hidden{
  visibility: hidden;
}

.slide{
  animation: fade-in 1.0s;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

#home{
  z-index: 2;
  background-color: gray;
  height: 100vh;
  margin-bottom: 75px;
  overflow-y: hidden;
}

#about, #contact  {
  background-color: white;
  height: 100vh;
}

#projects, #blog {
  background-color: whitesmoke;
}

.landing-btn {
  /* background-color: darkgray; */
  background-color: darkgray;
  height: 50px;
  width: 70px; 
}

.landing-btn:hover {
  background-color: maroon;
}

.fade-in-section {
  opacity: 0; 
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6S ease-out, transform 1.2s ease-out;
  will-change: opacity, visiblity;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.parallax {
  /* The image used */
  background-image: url("./assets/stars.jpeg");
  /* Full height */
  height: 50px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-title {
  font-family: ;
  color: ;
}

.hero-text {
  font-family: ;
  color: ;
}

.main-skill-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.extra-skill-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.skill {
  border: 1px solid black;
}

.section {
    
}

.circular {
    border-radius: 50%;
    /* height: 100px;
    width: 100px; */
}

.italic { 
  font-style: italic;
}

.bold {
  font-style: bold;
}

.sidebar {

}

.sidebar-link {
  font-family: ;
  color: ;
}

.sidebar-link:hover {

}

.sidebar-link:active {

}

.flex {
  display: flex;
}

.flex-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

#home{
  width: 100%;
}

.flex-left {
  display: flex;
  justify-content: left;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.flex-center {
  display: flex;
  align-content: center;
}

/* trash */


.gray-out {
  opacity: 1.0;
}

.gray-out:hover {
  opacity: .5;
}
.left-main {
  width: 30%;
}

.center-main {
  width: 40%;
}

.right-main {
  width: 30%;
}

.border-black {
  border: 2px solid black;
}

.items-row {
  display: flex;
}

.landing-navbar {
  position: absolute;
  bottom: -10vh;
  height: 10vh;
  background-color: gray;
  width: 100%;
}